.dark-high-contrast {
  --md-sys-color-primary: rgb(215 251 178);
  --md-sys-color-surface-tint: rgb(175 209 140);
  --md-sys-color-on-primary: rgb(0 0 0);
  --md-sys-color-primary-container: rgb(171 205 137);
  --md-sys-color-on-primary-container: rgb(4 14 0);
  --md-sys-color-secondary: rgb(232 245 214);
  --md-sys-color-on-secondary: rgb(0 0 0);
  --md-sys-color-secondary-container: rgb(187 199 170);
  --md-sys-color-on-secondary-container: rgb(5 14 1);
  --md-sys-color-tertiary: rgb(201 249 246);
  --md-sys-color-on-tertiary: rgb(0 0 0);
  --md-sys-color-tertiary-container: rgb(156 203 201);
  --md-sys-color-on-tertiary-container: rgb(0 14 13);
  --md-sys-color-error: rgb(255 236 233);
  --md-sys-color-on-error: rgb(0 0 0);
  --md-sys-color-error-container: rgb(255 174 164);
  --md-sys-color-on-error-container: rgb(34 0 1);
  --md-sys-color-background: rgb(17 20 14);
  --md-sys-color-on-background: rgb(226 227 217);
  --md-sys-color-surface: rgb(17 20 14);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(68 72 62);
  --md-sys-color-on-surface-variant: rgb(255 255 255);
  --md-sys-color-outline: rgb(238 242 227);
  --md-sys-color-outline-variant: rgb(192 196 182);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(226 227 217);
  --md-sys-color-inverse-on-surface: rgb(0 0 0);
  --md-sys-color-inverse-primary: rgb(51 79 25);
  --md-sys-color-primary-fixed: rgb(202 238 166);
  --md-sys-color-on-primary-fixed: rgb(0 0 0);
  --md-sys-color-primary-fixed-dim: rgb(175 209 140);
  --md-sys-color-on-primary-fixed-variant: rgb(7 21 0);
  --md-sys-color-secondary-fixed: rgb(218 231 201);
  --md-sys-color-on-secondary-fixed: rgb(0 0 0);
  --md-sys-color-secondary-fixed-dim: rgb(190 203 174);
  --md-sys-color-on-secondary-fixed-variant: rgb(10 20 4);
  --md-sys-color-tertiary-fixed: rgb(187 236 233);
  --md-sys-color-on-tertiary-fixed: rgb(0 0 0);
  --md-sys-color-tertiary-fixed-dim: rgb(160 207 205);
  --md-sys-color-on-tertiary-fixed-variant: rgb(0 20 20);
  --md-sys-color-surface-dim: rgb(17 20 14);
  --md-sys-color-surface-bright: rgb(78 81 73);
  --md-sys-color-surface-container-lowest: rgb(0 0 0);
  --md-sys-color-surface-container-low: rgb(30 33 26);
  --md-sys-color-surface-container: rgb(47 49 42);
  --md-sys-color-surface-container-high: rgb(58 60 53);
  --md-sys-color-surface-container-highest: rgb(69 72 64);
}
