/* Coolors Exported Palette - https://coolors.co/9fc1c0-ffffff-ffffff-546a76-18455c */

/* CSS HEX */
--ash-gray: #9FC1C0ff;
--white: #FFFFFFff;
--white-2: #FFFFFFff;
--paynes-gray: #546A76ff;
--indigo-dye: #18455Cff;

/* CSS HSL */
--ash-gray: hsla(178, 22%, 69%, 1);
--white: hsla(0, 0%, 100%, 1);
--white-2: hsla(0, 0%, 100%, 1);
--paynes-gray: hsla(201, 17%, 40%, 1);
--indigo-dye: hsla(200, 59%, 23%, 1);

/* SCSS HEX */
$ash-gray: #9FC1C0ff;
$white: #FFFFFFff;
$white-2: #FFFFFFff;
$paynes-gray: #546A76ff;
$indigo-dye: #18455Cff;

/* SCSS HSL */
$ash-gray: hsla(178, 22%, 69%, 1);
$white: hsla(0, 0%, 100%, 1);
$white-2: hsla(0, 0%, 100%, 1);
$paynes-gray: hsla(201, 17%, 40%, 1);
$indigo-dye: hsla(200, 59%, 23%, 1);

/* SCSS RGB */
$ash-gray: rgba(159, 193, 192, 1);
$white: rgba(255, 255, 255, 1);
$white-2: rgba(255, 255, 255, 1);
$paynes-gray: rgba(84, 106, 118, 1);
$indigo-dye: rgba(24, 69, 92, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #9FC1C0ff, #FFFFFFff, #FFFFFFff, #546A76ff, #18455Cff);
$gradient-right: linear-gradient(90deg, #9FC1C0ff, #FFFFFFff, #FFFFFFff, #546A76ff, #18455Cff);
$gradient-bottom: linear-gradient(180deg, #9FC1C0ff, #FFFFFFff, #FFFFFFff, #546A76ff, #18455Cff);
$gradient-left: linear-gradient(270deg, #9FC1C0ff, #FFFFFFff, #FFFFFFff, #546A76ff, #18455Cff);
$gradient-top-right: linear-gradient(45deg, #9FC1C0ff, #FFFFFFff, #FFFFFFff, #546A76ff, #18455Cff);
$gradient-bottom-right: linear-gradient(135deg, #9FC1C0ff, #FFFFFFff, #FFFFFFff, #546A76ff, #18455Cff);
$gradient-top-left: linear-gradient(225deg, #9FC1C0ff, #FFFFFFff, #FFFFFFff, #546A76ff, #18455Cff);
$gradient-bottom-left: linear-gradient(315deg, #9FC1C0ff, #FFFFFFff, #FFFFFFff, #546A76ff, #18455Cff);
$gradient-radial: radial-gradient(#9FC1C0ff, #FFFFFFff, #FFFFFFff, #546A76ff, #18455Cff);